include(<%= relativeRootPath %><%= cmakeConfigDir %>/<%= workspaceName %>.cmake)
include(cmake/version.cmake)

cmake_minimum_required(VERSION 3.21)

set(PROJECT_NAME <%= name %>)
set(PROJECT_TYPE BIN)
set(LANGUAGE <%= cmakeC %>)

set_project_settings(${PROJECT_NAME} ${CMAKE_CURRENT_SOURCE_DIR})

project(${PROJECT_NAME} LANGUAGES ${LANGUAGE} VERSION ${${PROJECT_NAME}_VERSION})

set_binary_settings(${PROJECT_NAME} ${CMAKE_CURRENT_SOURCE_DIR})

install(TARGETS ${PROJECT_NAME})
