include(<%= relativeRootPath %><%= cmakeConfigDir %>/<%= workspaceName %>.cmake)
include(cmake/version.cmake)

cmake_minimum_required(VERSION 3.21)

set(PROJECT_TYPE BIN)
set(LANGUAGE <%= cmakeC %>)

set_project_settings(<%= name %> ${CMAKE_CURRENT_SOURCE_DIR})

project(<%= name %> LANGUAGES ${LANGUAGE} VERSION ${<%= name %>_VERSION})

set_binary_settings(<%= name %> ${CMAKE_CURRENT_SOURCE_DIR})

install(TARGETS <%= name %>)
